# See https://help.github.com/ignore-files/ for more about ignoring files.

src/graphqlTypes.d.ts
src/graphqlTypes.ts
src/state/graphqlTypes.d.ts
src/state/types.ts
src/shared
src/.linaria-cache

# dependencies
/node_modules
.awcache

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
