.container {
  flex: 1;
  max-width: 720px;

  :global(.bp3-popover-target) {
    width: 100%;
  }

  :global(.bp3-input-ghost) {
    font-size: 14px;
  }

  :global(.bp3-tag-input-values) {
    padding-right: 5px;
  }

  :global(.bp3-text-overflow-ellipsis.bp3-fill) {
    overflow: visible;
  }
}

.tagContent {
  display: flex;
  align-items: center;

  svg {
    margin: 0 3px 0 4px;
  }

  span {
    max-width: 273px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
  }

  .tagTitle {
    position: relative;

    &::before {
      content: attr(data-popover);
      position: absolute;
      z-index: 2;
      display: none;
      left: 0;
      top: -2px;
      bottom: 0;
      background-color: #e8ebed;
      height: 20px;
      line-height: 20px;
      padding-right: 4px;
      border-radius: 2px;
    }

    &:hover::before {
      display: block;
    }
  }
}
