version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"
    labels:
    - ci/dependabot
    - dependencies
    - kind/enhancement
    - release-note/misc
    groups:
      dev-deps:
        dependency-type: 'development'
      prod-deps:
        dependency-type: 'production'
  - package-ecosystem: gomod
    directory: ./backend
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"
    ignore:
      - dependency-name: "github.com/cilium/cilium"
      - dependency-name: "github.com/cilium/hubble"
    labels:
    - ci/dependabot
    - dependencies
    - kind/enhancement
    - release-note/misc
    groups:
      k8s-deps:
        patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
      all-go-deps:
        patterns:
          - '*'
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"
    labels:
    - ci/dependabot
    - dependencies
    - kind/enhancement
    - release-note/misc
    groups:
      all-github-actions:
        patterns:
          - '*'
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "docker:"
    open-pull-requests-limit: 5
    rebase-strategy: disabled
    labels:
    - ci/dependabot
    - dependencies
    - kind/enhancement
  - package-ecosystem: docker
    directory: /backend
    schedule:
      interval: weekly
    commit-message:
      prefix: "backend/docker:"
    open-pull-requests-limit: 5
    rebase-strategy: disabled
    labels:
    - ci/dependabot
    - dependencies
    - kind/enhancement
