; Note that commands explicitly intended to run a particular script, such as
; npm start, npm stop, npm restart, npm test, and npm run  will  still  run
; their intended script if ignore-scripts is set, but they will not run any
; pre- or post-scripts.
ignore-scripts=true
; Verify the origin and build process of npm packages.
provenance=true
; Saved dependencies are configured with an exact version rather than using
; npm's default range operator.
save-exact=true
; The default prefix is ^ which allows for minor version upgrades. Make it
; empty so that we only match exact versions.
save-prefix=''
; Enforce strict version checks when installing packages.
engine-strict=true