:local(.userMenuWrapper) {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

:local(.orgName) {
  color: #182026;
  margin-left: 6px;
  max-width: 160px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

:local(.orgDetails) {
  margin-left: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

:local(.userPicture) {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

:local(.userInfo) {
  display: flex;
  align-items: center;
}

:local(.userPictureStub) {
  position: relative;
  top: 1px;
  text-align: center;
  flex-shrink: 0;
  min-width: 14px;
  min-height: 14px;
  border-radius: 2px;
  background-color: #137cbd;
  color: #fff;
  font-size: 8px;
  line-height: 14px;
}

:local(.userMenuEmail) {
  align-items: center;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
  white-space: pre;
  font-size: 14px;
  padding-right: 12px;
  line-height: 17px;
  margin-left: 9px;
  color: #7b7b7b;
}

:local(.userMenuIcon) {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

:local(.userMenuChevron) {
  position: absolute;
  top: 3px;
  right: 0;
}
