@import "~/styles/common/layout.scss";

.panel {
  @include column();
  position: absolute;
  bottom: 0;
  top: 66%;

  overflow: hidden;
  background-color: #f2f4f6;

  .dragPanel {
    @include exact-size(default, 29px);
  }

  .tableWrapper {
    flex-grow: 0;
    margin: 0 10px 10px 10px;
    overflow: hidden;
  }
}
