.wrapper {
  width: calc(100% - var(--endpoint-shadow-size) * 2);
  height: calc(100% - var(--endpoint-shadow-size) * 2);
  margin: var(--endpoint-shadow-size);
  padding: 0 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
}

.layer1 {
  box-shadow: 0 0 var(--endpoint-shadow-size) rgba(0, 0, 0, 0.15);
}
