:local(.base) {
  display: flex;
  align-items: flex-start;
  padding: 7px 12px;
  border: 1px solid;
  margin-bottom: 16px;
  border-radius: 2px;
  width: 100%;

  svg {
    margin-top: 3px;
  }
}

:local(.message) {
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  padding-right: 12px;
  color: inherit;
}

:local(.text) {
  flex: 1;
  display: flex;
  flex-direction: column;
}

:local(.title) {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.45;
  padding-right: 12px;
  color: #303030;
  margin-bottom: 3px;
}

:local(.info) {
  border-color: #73bef4;
  color: #2697e9;
  background-color: #f3faff;
}

:local(.warning) {
  border-color: #ffc28f;
  color: #d17a31;
  background-color: #fff8f2;
}

:local(.danger) {
  border-color: #ff6969;
  color: #303030;
  background-color: #fff5f5;
}
