@import "../styles/themify.scss";

$themes: (
  default: (
    default-background: #c6c6c6,
    default-background-hover: #a0a0a0,
    ok-background: #6ebb00,
    ok-background-hover: #5ea100,
    info-background: #08a6ff,
    info-background-hover: #0574b3,
    danger-background: #e36b6b,
    danger-background-hover: #c15454,
    muted-background: #e5e5e5,
    muted-background-hover: #d4d3d3,
    muted-font-color: #7b7b7b,
    muted-font-color-hover: #7b7b7b,
    outlined-font-color: #969696,
    outlined-border-color: #bcbcbc,
    outlined-font-color-hover: #777777,
    outlined-border-color-hover: #818181,
    only-icon-font-color: #cfcfcf,
    only-icon-font-color-hover: #979797,
    only-icon-background-hover: #e4e4e4,
    disabled-font-color: #dfdfdf,
    disabled-background-color: #c6c6c6,
    remarkable-background: #08a6ff,
    remarkable-border-color: #0574b3,
    remarkable-font-color: #fff,
    remarkable-disabled-font-color: #a6a6a6,
    remarkable-disabled-background: #e3e3e3,
    remarkable-disabled-border-color: #bdbdbd
  ),
  dark: (
    default-background: #525252,
    default-background-hover: #494949,
    ok-background: #6a9627,
    ok-background-hover: #618f00,
    info-background: #08a6ff,
    info-background-hover: #0574b3,
    danger-background: #8f3030,
    danger-background-hover: #631d1d,
    muted-background: #484848,
    muted-background-hover: #2c2c2c,
    muted-font-color: #adadad,
    muted-font-color-hover: #6e6e6e,
    outlined-font-color: #969696,
    outlined-border-color: #bcbcbc,
    outlined-font-color-hover: #777777,
    outlined-border-color-hover: #818181,
    only-icon-font-color: #525252,
    only-icon-font-color-hover: #979797,
    only-icon-background-hover: #363636,
    disabled-font-color: #696969,
    disabled-background-color: #525252,
    remarkable-background: #08a6ff,
    remarkable-border-color: #0574b3,
    remarkable-font-color: #fff,
    remarkable-disabled-font-color: #a6a6a6,
    remarkable-disabled-background: #e3e3e3,
    remarkable-disabled-border-color: #bdbdbd
  )
);
