@import "./Buttons.themes.scss";

:local(.button) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 32px;
  margin: 0;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 16px;

  cursor: default;

  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;

  font-size: 12px;
  font-weight: 600;
  line-height: 13px;

  @include themify {
    background: theme-get(default-background);
  }

  span + svg,
  svg + span {
    margin-left: 6px;
  }
}

:local(.button.only-icon) {
  display: block;
  width: 20px;
  height: 20px;
  min-height: 20px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;

  background-color: transparent;

  justify-content: center;
  align-items: center;
  @include themify {
    color: theme-get(only-icon-font-color);
  }
}

:local(.button.with-icon) {
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 10px;
}

:local(.button:hover) {
  cursor: pointer;
  transition: all 0.5s ease;

  @include themify {
    background: theme-get(default-background-hover);
  }
}

:local(.button.only-icon:hover) {
  cursor: pointer;
  transition: all 0.5s ease;

  @include themify {
    color: theme-get(only-icon-font-color-hover);
    background: theme-get(only-icon-background-hover);
  }
}

:local(.button.compact) {
  padding-right: 8px;
  padding-left: 8px;
}

:local(.button.small) {
  min-height: 18px;
  font-weight: 500;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
}

:local(.button.big) {
  width: 26px;
  height: 26px;
  min-height: 26px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  font-size: 18px;
  line-height: 18px;
}

:local(.button.ok) {
  @include themify {
    background: theme-get(ok-background);
  }
}

:local(.button.ok:hover) {
  @include themify {
    background: theme-get(ok-background-hover);
  }
}

:local(.button.info) {
  @include themify {
    background: theme-get(info-background);
  }
}

:local(.button.info:hover) {
  @include themify {
    background: theme-get(info-background-hover);
  }
}

:local(.button.danger) {
  @include themify {
    background: theme-get(danger-background);
  }
}

:local(.button.danger:hover) {
  @include themify {
    background: theme-get(danger-background-hover);
  }
}

:local(.button.muted) {
  @include themify {
    color: theme-get(muted-font-color);
    background: theme-get(muted-background);
  }
}

:local(.button.remarkable) {
  border: 1px solid;
  @include themify {
    color: theme-get(remarkable-font-color);
    background: theme-get(remarkable-background);
    border-color: theme-get(remarkable-border-color);
  }
}

:local(.button.remarkable.disabled),
:local(.button.remarkable.disabled:hover) {
  @include themify {
    color: theme-get(remarkable-disabled-font-color);
    background: theme-get(remarkable-disabled-background);
    border-color: theme-get(remarkable-disabled-border-color);
  }
}

:local(.button.muted:hover) {
  @include themify {
    color: theme-get(muted-font-color-hover);
    background: theme-get(muted-background-hover);
  }
}

:local(.button.outlined) {
  background: transparent;
  border: 1px solid;
  @include themify {
    color: theme-get(outlined-font-color);
    border-color: theme-get(outlined-border-color);
  }
}

:local(.button.outlined:hover) {
  background: transparent;
  @include themify {
    color: theme-get(outlined-font-color-hover);
    border-color: theme-get(outlined-border-color-hover);
  }
}

:local(.icon) {
  margin-right: 8px;

  font-weight: 400;
}

:local(.button.disabled),
:local(.button.disabled:hover) {
  cursor: default;

  @include themify {
    color: theme-get(disabled-font-color);
    background-color: theme-get(disabled-background-color);
  }
}

:local(.button.disabled:hover) {
  transition: none;
}

:local(.button.danger.outlined) {
  @include themify {
    border-color: theme-get(danger-background);
    color: theme-get(danger-background);
    background-color: transparent;
  }
}

:local(.button.danger.outlined:hover) {
  @include themify {
    border-color: theme-get(danger-background-hover);
    color: theme-get(danger-background-hover);
    background-color: transparent;
  }
}
