:local(.container) {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px;

  input[type="text"] {
    height: 29px;
  }

  // .Select-control,
  // .Select-placeholder,
  // .Select-value,
  // .Select-input,
  // .Select-input input {
  //   height: 30px !important;
  //   line-height: 30px !important;
  //   font-size: 14px !important;
  //   font-weight: 500;
  // }
  // .Select-arrow {
  //   position: relative;
  //   top: 2px;
  //   line-height: 19px;
  // }
  // .Select-input input {
  //   padding: 0 !important;
  // }
  // .Select-placeholder,
  // .Select-input {
  //   padding: 0 9px !important;
  //   text-transform: none !important;
  // }
}

:local(.label) {
  font-size: 13px;
  color: #999;
  margin-bottom: 5px;
}
