:local(.input) {
  margin: 0 !important;
  padding: 7px !important;
  background-color: white;
  border: 1px solid #b8b8b8 !important;
  border-radius: 2px;
  font-size: 14px;
  line-height: 14px;
  color: #555;
}

:local(.inputWithLabel) {
  display: block;
  width: 100%;
  margin-bottom: 10px;

  :local(.label) {
    display: block;
    padding: 0 8px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #595959;
  }

  :local(.input) {
    display: block;
    width: 100%;
  }
}

:local(.inputWithLabel:last-child) {
  margin-bottom: 0;
}
