:local(.container) {
  max-height: 169px;
  overflow: auto;
  background-color: #fff;
  border-top: 1px solid #dedede;
}

:local(.noScroll) {
  max-height: none;
  overflow: hidden;
}

:local(.noData) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  color: #bbb;
}

:local(.icon) {
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

:local(.details) {
  font-size: 14px;
  color: #7b7b7b;
  font-style: italic;
  margin-top: 7px;
}

:local(.item) {
  padding: 0 15px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}

:local(.item) + :local(.item) {
  border-top: 1px solid #dedede;
}
