:local(.badge) {
  display: inline-flex;
  border-radius: 3px;
  padding: 0 5px;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  height: 18px;
}

:local(.UNKNOWN) {
  color: #666;
}

:local(.ERROR) {
  color: #ff7a7a;
}

:local(.PENDING) {
  color: #7b7b7b;
}

:local(.OK) {
  color: #5fb242;
}

:local(.UNKNOWN.background) {
  background-color: #eee;
}

:local(.ERROR.background) {
  background-color: #ffe5e5;
}

:local(.PENDING.background) {
  background-color: #fff3ee;
}

:local(.OK.background) {
  background-color: #e5f7e1;
}
