:local(.container) {
  display: flex;
  justify-content: center;
  align-items: center;

  path,
  circle,
  rect {
    fill: currentColor !important;
  }
}

:local(.clickable) {
  cursor: pointer;

  &:hover {
    filter: brightness(0.75);
  }
}

:local(.rotating) {
  animation: rotating 2.5s infinite linear;
  transform-origin: center center;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
