@import "~/styles/common/layout.scss";

.content {
  background-color: rgba(255, 255, 255, 0.9);
}

.labels {
  @include row();
  flex-flow: wrap;

  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
  margin: 20px 20px 10px;

  .label {
    @include ellipsis-limit();

    border-radius: 5px;
    padding: 5px 10px;

    color: #929292;
    background: #eaeaea;

    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.accessPoints {
  @include column();

  margin: 0 20px 20px;
  padding: 15px;

  border: 1px solid #d4d4d4;
  border-radius: 10px;
}

.accessPoints + .labels {
  margin-top: 0;
}
