$border-color: #c6cace;

.table,
.table td,
.table th,
.table tr,
.table tbody,
.table thead {
  padding: 0;
  border-spacing: 0;
}

.wrapper {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  border-top: 1px solid $border-color;
}

.table {
  width: 100%;
  table-layout: fixed;
  background-color: #fff;

  td,
  th {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 11px;
    height: var(--flows-table-row-height);
    line-height: var(--flows-table-row-height);
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;

    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }

  th {
    position: sticky;
    top: 0;
    background: #e4e7eb;
    border-bottom: 1px solid $border-color;
    text-align: left;
    font-weight: 700;
    color: #7c8389;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #fff;
      }

      &:nth-child(even) {
        background-color: #f2f4f6;
      }

      &:not(.selected):hover {
        background-color: #e0e2e4;
        cursor: pointer;
      }

      &:last-child {
        td {
          border-bottom: 1px solid $border-color;
        }
      }

      &.selected {
        background-color: #7b7b7b;

        td {
          color: #fff;
        }
      }
    }
  }

  .emptyValue {
    color: #999;
    font-weight: 400;
  }

  .forwardedVerdict {
    color: #54a82d;
  }

  .droppedVerdict {
    color: #d46363;
  }

  .namespace {
    color: #7b7b7b;
    font-style: italic;
    font-weight: 500;
  }
}

.sidebar {
  $padding: 12px;

  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  overflow: auto;
  background: #fff;
  border-left: 1px solid #c6cace;
  box-shadow: 0 22px 22px rgba(0, 0, 0, 0.25);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $padding;
    padding-left: $padding;
    padding-right: $padding;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #7b7b7b;

    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: $padding * 3;
      margin-top: -1px;
      padding: 3px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.5);
      color: #c2c2c2;

      &:hover {
        cursor: pointer;
        color: #a0a0a0;
      }
    }
  }

  .block {
    padding-left: $padding;
    padding-right: $padding;

    &:last-child {
      padding-bottom: $padding;
    }

    .title {
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 700;
      color: #303030;
    }

    .body {
      padding-bottom: 10px;
      overflow-x: auto;
      font-size: 12px;
      line-height: 17px;
      color: #7b7b7b;
    }
  }

  .block + hr {
    display: block;
    width: calc(#{$padding} + 100%);
    height: 1px;
    margin-bottom: 10px;
    margin-left: -$padding;
    border: none;
    background-color: #d6d6d6;
  }
}
