:local(.wrapper) {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 15%;
  z-index: 200;
  background-color: #fff;
}

:local(.icon) {
  width: 90.83px;
  height: 66px;
  margin-bottom: 19px;
}

:local(.subtitle),
:local(.title) {
  margin-left: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: #484848;
}

:local(.subtitle) {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
  font-weight: 500;

  a {
    color: #666;
  }
}
