:global(.FullScreen) {
  display: flex;
  // overflow: hidden;

  min-width: 100%;
  max-width: 100%;
  height: 100%;

  background-color: #fff;
}

:global(.FullScreen-white) {
  background: white;
}
:global(.FullScreen-login) {
  background-image: radial-gradient(circle at center, #373b4a 47%, #272a35 95%);
}

:global(.FullScreen-center) {
  align-items: center;
  justify-content: center;
}

:global(.FullScreen-vertical) {
  flex-direction: column;
}

:global(.FullScreen .logo) {
  margin: 60px auto 0 auto;
}
