:local {
  .wrapper {
    position: relative;
    z-index: 90;

    &.hubble {
      background-color: #f2f2f2;
    }
  }

  .topSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    min-height: 45px;
    max-height: 45px;
    border-bottom: 1px solid #d6d6d6;

    &.hubble {
      border-bottom: none;
    }
  }

  .searchSection {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
  }

  .left,
  .right {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 43px;
  }

  .left {
    display: flex;
    left: 20px;
  }

  .right {
    right: 20px;
  }

  .discoveryTimePicker {
    height: 24px;
    min-width: 280px;
  }

  .minsAfter {
    margin: 0 10px 0 20px;
  }

  .addEnvironmentButton {
    margin-left: 12px;
    height: 24px !important;
    min-height: 24px !important;
    padding: 0 10px !important;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    background-color: #7b7b7b;

    &:hover {
      background-color: #6b6b6b;
    }
  }
  .addVisibilityButton {
    margin-left: 12px;
    height: 24px !important;
    min-height: 24px !important;
    padding: 0 10px !important;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    background-color: #08a6ff;

    &:hover {
      background-color: #0574b3;
    }
  }

  .downloadYAMLButton {
    margin-left: 12px;
    height: 24px !important;
    min-height: 24px !important;
    padding: 0 10px !important;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    background-color: #e5e5e5;
    color: #6b6b6b;

    &:hover {
      background-color: #e5e5e5;
    }
  }

  .popoverTrigger {
    outline: none !important;
    margin-left: 4px;
    padding: 5px 10px;
  }
}
