@import "~/styles/common/layout.scss";

.wrapper {
  margin: var(--endpoint-shadow-size);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #b4b4b4;

  &.active {
    border-color: #3177ff;
  }
}

.layer1 {
  box-shadow: 0 0 var(--endpoint-shadow-size) rgba(0, 0, 0, 0.15);
}

.labels {
  @include row();
  flex-flow: wrap;

  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
  margin: 20px 20px 10px;

  .label {
    @include ellipsis-limit();

    border-radius: 5px;
    padding: 5px 10px;

    color: #929292;
    background: #eaeaea;

    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
