@import "../styles/themify.scss";

:local(.wrapper) {
  cursor: default;
}

:local(.background) {
  display: flex;
  width: 100%;
  padding: 5px 21px;

  color: #fff;

  font-size: 12px;
  line-height: 12px;

  cursor: pointer;
}

:local(.background.error) {
  background-color: #b84d4d;
}

:local(.background.warning) {
  background-color: #c6832c;
}

:local(.background.info) {
  background-color: #2a92b6;
}

:local(.background.success) {
  background-color: #6a9627;
}

:local(.text) {
  flex: 1;
  overflow: hidden;

  width: calc(100% - 316px);
  min-width: 0;

  white-space: pre;
  text-overflow: ellipsis;
}

:local(.close) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  line-height: 10px;
  border-radius: 12px;
  background: #fff;
}

:local(.background.error) :local(.close) {
  color: #b84d4d;
}

:local(.background.warning) :local(.close) {
  color: #c6832c;
}

:local(.background.info) :local(.close) {
  color: #2a92b6;
}

:local(.background.success) :local(.close) {
  color: #6a9627;
}
