.wrapper {
  display: block;
  width: 100%;
  height: calc(100vh - var(--top-bar-height));
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.namespaceBackplate {
  rect {
    fill: #ebeef0;
    stroke: #b0b0b0;
    stroke-dasharray: 12px 12px;
    stroke-width: 5px;
  }

  text {
    font-size: 1.75em;
    fill: #7b7b7b;
    font-weight: 700;
  }
}
