@import "vars.scss";

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.mono {
  font-family: "Roboto Mono", monospace;
}
