// C O L O R S
// According to INTERFACES figma template

$black: #303030;
$gray1: #7b7b7b;
$gray2: #979797;
$gray3: #c2c2c2;
$gray4: #d7d7d7;
$gray5: #e4e4e4;
$white: #fff;
$orange: #d17a31;
$green: #54a82d;
$red: #d46363;
$blue: #2697e9;

// S I Z E S   A N D   M E T R I C S
$default-padding: 20px;
