name: tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          submodules: true
      - name: Use Node.js
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '16.x'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.18'
      - name: Check Go module vendoring
        working-directory: ./backend
        run: |
          go mod tidy
          go mod vendor
          go mod verify
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)
      - name: Run Go static checks
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          working-directory: ./backend
          version: v1.45.2
          args: --config=.golangci.yml --verbose
          skip-go-installation: true
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Setup Node.js
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '16.x'
      - name: Install NPM dependencies
        run: npm install
      - name: Check proto files
        working-directory: ./backend
        run: |
          ./ctl.sh update-proto
          test -z "$(git status --porcelain)" || (echo "please run './ctl.sh update-proto', and submit your changes"; exit 1)
