name: tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.22'
      - name: Check Go module vendoring
        working-directory: ./backend
        run: |
          go mod tidy
          go mod vendor
          go mod verify
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)
      - name: Run Go static checks
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          working-directory: ./backend
          # renovate: datasource=github-releases depName=golangci/golangci-lint
          version: v2.0.2
          args: --config=.golangci.yml
          skip-cache: true
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '20.x'
      - name: Install NPM dependencies
        run: npm ci
      - name: npm run prettier
        run: |
          npm run prettier
          git status --porcelain
          test -z "$(git status --porcelain)" || (echo "please run `npm run prettier` and submit changes"; exit 1)
      - name: npm run lint
        run: npm run lint
      - name: Check proto files
        working-directory: ./backend
        run: |
          ./ctl.sh update-proto
          test -z "$(git status --porcelain)" || (echo "please run './ctl.sh update-proto', and submit your changes"; exit 1)
