name: tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          submodules: true
      - name: Use Node.js
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b
        with:
          node-version: '18.x'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Setup Go
        uses: actions/setup-go@268d8c0ca0432bb2cf416faae41297df9d262d7f
        with:
          go-version: '1.19'
      - name: Check Go module vendoring
        working-directory: ./backend
        run: |
          go mod tidy
          go mod vendor
          go mod verify
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)
      - name: Run Go static checks
        uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc
        with:
          working-directory: ./backend
          version: v1.49.0
          args: --config=.golangci.yml --verbose --out-${NO_FUTURE}format colored-line-number --timeout 3m
          skip-cache: true
      - name: Setup Node.js
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b
        with:
          node-version: '18.x'
      - name: Install NPM dependencies
        run: npm install
      - name: Check proto files
        working-directory: ./backend
        run: |
          ./ctl.sh update-proto
          test -z "$(git status --porcelain)" || (echo "please run './ctl.sh update-proto', and submit your changes"; exit 1)
