.container {
  flex: 1;
  flex-shrink: 1;
  width: auto;
  min-width: 0;
  max-width: 720px;

  :global(.bp3-popover-target) {
    width: 100%;
  }

  :global(.bp3-input-ghost) {
    font-size: 14px;
  }

  :global(.bp3-tag-input-values) {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-right: 5px;
  }

  :global(.bp3-text-overflow-ellipsis.bp3-fill) {
    overflow: visible;
  }
}

.tagContent {
  display: flex;
  align-items: center;

  svg {
    margin: 0 3px 0 4px;
  }

  span {
    max-width: 273px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
  }

  .tagTitle {
    position: relative;
  }
}
